{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Welcome to TASK!</title>
{% endblock title %}
{% block content %}
<div class="container">
    </br>
    <div class="row">
        <div class='col-lg-4'>
            <img src="{% static 'images/note.jpg'%}" alt="note" width="100%" class="rounded-lg shadow">
        </div>
        <div class='col-lg-4'>
            <img src="{% static 'images/time.jpg'%}" alt="note" width="100%" class="rounded-lg shadow">
        </div>
        <div class='col-lg-4'>
            <img src="{% static 'images/run.jpg'%}" alt="note" width="100%" class="rounded-lg shadow">
        </div>
        <div class="row mt-3">
            <div class="col-md-8 offset-md-2">
                <center>
                    <p class="h2 text-info">TASK</p>
                </center>
                <center>
                    <p class="h4">Manage your time wisely!</p>
                </center>

                <center><a href="{% url "todolist"%}"><button type="button"
                            class="btn btn-secondary btn-lg mt-3 shadow">Let's Go !</button></a></center>
            </div>
        </div>
    </div>
</div>
{% endblock content %}