{% extends 'base.html' %}
{% block title %}
<title>Update Task - Task</title>
{% endblock title %}
{% block content %}
<div class="container">
    </br>
    {% if task_object.manage == request.user %}
    <form method="POST" class="row">
        {% csrf_token %}
        <h3><label name="task" class="form-label "><strong>Update Task</strong></label></h3>
        <input type="text" class="form-control m-1" name="task" placeholder="{{task_object.task}}"
            value="{{task_object.task}}">
        <input type="hidden" name="done" value="{{task_object.done}}">
        <button type="submit" class="btn btn-dark col-lg-2 m-1">Submit</button>
    </form>
    {% else %}
    <p>Access Restricted, You Are Not Allowed</p>
    {% endif %}
</div>
{% endblock content %}