{% extends 'base.html' %}
{% block title %}
<title>Todo List Manager - Task</title>
{% endblock title %}
{% block content %}
<div class="container">
  </br>
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  {% endfor %}
  {% endif %}
  <form method="POST" class="row">
    {% csrf_token %}
    <h3><label name="task" class="form-label col-lg-4 "><strong>Add Task</strong></label></h3>
    <input type="text" class="form-control m-1" name="task" placeholder="New Task">
    <button type="submit" class="btn btn-dark col-lg-2 m-1">Submit</button>
  </form>
  </br>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Task</th>
        <th scope="col">Done</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% if all_tasks %}
      {% for object in all_tasks %}
      {% if object.done == True%}
      <tr class="table-success">
        <td class="col-lg-9">{{object.id}} - {{object.task}}</td>
        <td class="col-lg-1 "><a href="{% url 'uncompleted_task' object.id%}"><img src="/static/images/checked.png"
              alt="update" width='20' height='20'></a></td>
        <td class="col-lg-1"><a href="{% url 'update_task' object.id%}"><img src="/static/images/updating.png"
              alt="update" width='20' height='20'></a></td>
        <td class="col-lg-1"><a href="{% url 'delete_task' object.id %}"><img src="/static/images/close.png"
              alt="delete" width='20' height='20'></a></td>
      </tr>

      {% else %}
      <tr>
        <td class="col-lg-9">{{object.id}} - {{object.task}}</td>
        <td class="col-lg-1 "><a href="{% url 'complete_task' object.id%}"><img src="/static/images/checked.png"
              alt="update" width='20' height='20'></a></td>
        <td class="col-lg-1"><a href="{% url 'update_task' object.id%}"><img src="/static/images/updating.png"
              alt="update" width='20' height='20'></a></td>
        <td class="col-lg-1"><a href="{% url 'delete_task' object.id %}"><img src="/static/images/close.png"
              alt="delete" width='20' height='20'></a></td>
      </tr>
      {%endif%}
      {% endfor %}
      {% endif %}
    </tbody>
  </table >
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
    <li class="page-item"><a class="page-link text-dark" href="?page=1"><<</a></li> 
      {% if all_tasks.has_previous %}
        <li class="page-item"><a class="page-link text-dark" href="?page={{all_tasks.previous_page_number}}">{{all_tasks.previous_page_number}}</a></li>
      {% endif %}
      <li class="page-item"><a class="page-link text-dark" href="?page={{all_tasks.number}}">{{all_tasks.number}}</a></li>
      {% if all_tasks.has_next %}
        <li class="page-item"><a class="page-link text-dark" href="?page={{all_tasks.next_page_number}}">{{all_tasks.next_page_number}}</a></li>
      {% endif %}
      <li class="page-item"><a class="page-link text-dark" href="?page={{all_tasks.paginator.num_pages}}">>></a></li>
    </ul>
  </nav>
</div>
{% endblock content %}